<h1 class="mb-4 text-4xl font-extrabold">Your score: <%= @score %></h1>
<h2>
  <%= @message %>
</h2>
<h3>
  It's <%= @time %>
</h3>
<br />
<h2>
  <%= for n <- 1..@max_number do %>
    <.link
      class="bg-blue-500 hover:bg-blue-700
text-white font-bold py-2 px-4 border border-blue-700 rounded m-1"
      phx-click="guess"
      phx-value-number={n}
    >
      <%= n %>
    </.link>
  <% end %>
</h2>
<br />
<pre>
<%= @current_user.username %>
<%= @session_id %>
</pre>
