@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button.delete_btn {
    height: unset;
    line-height: unset;
    background-color: #d11a2a;
}

p.todo_item {
    cursor: pointer;
    margin-bottom: 16px;
}

p.todo_item.completed {
    text-decoration: line-through;
}